#slider__input2:checked ~ .slider__imgs > .img-item {
  transform: translateX(-100%) !important;
}
#slider__input3:checked ~ .slider__imgs > .img-item {
  transform: translateX(-200%) !important;
}
#slider__input4:checked ~ .slider__imgs > .img-item {
  transform: translateX(-300%) !important;
}
#slider__input1:checked ~ .slider__dots > .dot-item:nth-child(1),
#slider__input2:checked ~ .slider__dots > .dot-item:nth-child(2),
#slider__input3:checked ~ .slider__dots > .dot-item:nth-child(3),
#slider__input4:checked ~ .slider__dots > .dot-item:nth-child(4) {
  background: rgb(199, 199, 199);
}
#slider__input1:checked ~ .slider__buttons > .slider__btn:nth-child(4),
#slider__input1:checked ~ .slider__buttons > .slider__btn:nth-child(5),
#slider__input1:checked ~ .slider__buttons > .slider__btn1:nth-child(6),
#slider__input2:checked ~ .slider__buttons > .slider__btn:nth-child(3),
#slider__input2:checked ~ .slider__buttons > .slider__btn:nth-child(5),
#slider__input3:checked ~ .slider__buttons > .slider__btn:nth-child(4),
#slider__input3:checked ~ .slider__buttons > .slider__btn:nth-child(2),
#slider__input4:checked ~ .slider__buttons > .slider__btn:nth-child(3),
#slider__input4:checked ~ .slider__buttons > .slider__btn1:nth-child(1),
#slider__input4:checked ~ .slider__buttons > .slider__btn:nth-child(2) {
  display: none;
}
#slider__input4:checked ~ .slider__buttons > .slider__btn1,
#slider__input1:checked ~ .slider__buttons > .slider__btn1 {
  display: block;
}
