body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
label {
  cursor: pointer;
}
input {
  display: none;
}
* {
  font-size: 62.5%;
}
.all__slider,
.img-item,
.icon__button {
  width: 100%;
  height: 100%;
}
.slider__buttons,
.slider__imgs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider__imgs {
  width: 80rem;
  height: 50rem;
  border-radius: 2.2rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(131, 131, 131, 0.523);
}
.img-item {
  overflow-x: auto;
  object-fit: cover;
  transition: 0.5s ease-out;
  animation: autoSlide 16s infinite linear;
}
@keyframes autoSlide {
  0%,22.5% {
    transform: translateX(0%);
  }
  25%,47.5% {
    transform: translateX(-100%);
  }
  50%,72.5% {
    transform: translateX(-200%);
  }
  75%,97.5% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slider__dots {
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translatex(-50%);
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
sS}
.slider__buttons,
.icon__button {
  width: 85rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.slider__btn,
.icon {
  font-size: 2.4rem;
  padding: 1.5rem 2rem;
  width: 2rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.222);
}
.icon {
  background: #fff;
}
.dot-item {
  width: 4rem;
  height: 0.5rem;
  border-radius: 10%;
  background: rgba(216, 216, 216, 0.301);
  transition: 0.35s ease-in-out;
}
.icon__button {
  position: absolute;
  z-index: -1;
}
